/class5-jenkins/jenkins.war
/class5-jenkins/jenkins.war.bak
/class5-jenkins/jenkins2316.war
/class4-testing/assigment/chromedriver.exe
/class4-testing/assigment/geckodriver.exe
/class4-testing/assigment/geckodriver.log
/class4-testing/geckodriver.log
/class5-jenkins/agent.jar
